ol, ul {
  list-style: none;
  padding-left: 0;
}

li .box {
	border: 1px solid #ccc;
    background: #f0f8ff;
    border-radius: .2em;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

li .box-body {
  background-color: white;
}

.box.box-solid.box-default > .box-header {
	border-radius: 10px 10px 0 0;
	background: #efefef;
}

div.box.box-default.box-solid.collapsed-box > div.box-header.with-border {
	border-radius: 10px 10px 10px 10px;
}

.dnd-dragging #menuName .box {
	border: 1px solid #ccc;
    background: #f0f8ff;
    border-radius: .2em;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.wide {
  margin-right: -2em;
}

@media (max-width: 600px) {
  .wide {
    margin-right: 0em;
  }
}

